### 2024-04-09 Clean: more dataframes

In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [38]:
gsa = pd.read_csv("GSAF5.csv.bz2", sep = "\t")
gsa.shape

(25827, 24)

In [34]:
gsa.head(3)

          Date    Year sex fatal                     Country
1  09-Sep-2021  2021.0   M     N                         USA
2  05-Sep-2021  2021.0   M     Y                   AUSTRALIA
3  03-Sep-2021  2021.0   M     N  British Overseas Territory

In [35]:
gsa.tail(3)

               Date    Year sex fatal       Country
5952    28-Jan-1900  1900.0   M     N     AUSTRALIA
5953    Early 1900s  1900.0   M     N           USA
5954       Ca. 1900  1900.0   M     N  SOUTH AFRICA

In [36]:
gsa = gsa.rename({"Sex ": "sex", "Fatal (Y/N)": "fatal"},
             	axis = 1)
gsa.head(3)

          Date    Year sex fatal                     Country
1  09-Sep-2021  2021.0   M     N                         USA
2  05-Sep-2021  2021.0   M     Y                   AUSTRALIA
3  03-Sep-2021  2021.0   M     N  British Overseas Territory

In [9]:
gsa = gsa[["Date", "Year", "sex", "fatal", "Country"]]
gsa.head(3)

          Date    Year sex fatal                     Country
1  09-Sep-2021  2021.0   M     N                         USA
2  05-Sep-2021  2021.0   M     Y                   AUSTRALIA
3  03-Sep-2021  2021.0   M     N  British Overseas Territory

In [12]:
gsa.isna().sum()

Date         0
Year         0
sex        414
fatal        0
Country      0
dtype: int64

In [11]:
type(gsa.isna())

pandas.core.frame.DataFrame

In [13]:
(~gsa.isna()).sum()

Date       5388
Year       5388
sex        4974
fatal      5388
Country    5388
dtype: int64

In [14]:
a = gsa.dropna()
a.shape

(4974, 5)

In [15]:
gsa = gsa.dropna(subset = ["Country", "fatal"])
gsa.shape

(5388, 5)

In [16]:
gsa.dtypes

Date        object
Year       float64
sex         object
fatal       object
Country     object
dtype: object

In [17]:
gsa.Year.min(), gsa.Year.max()

(1900.0, 2021.0)

In [18]:
(gsa.Year < 1).sum()

0

In [19]:
gsa0 = gsa[gsa.Year < 1]
gsa0.shape

(0, 5)

In [20]:
gsa = gsa[gsa.Year >= 1900]
gsa.shape

(5388, 5)

In [21]:
gsa.sex.unique()

array(['M', 'F', nan, 'lli', '.'], dtype=object)

In [22]:
gsa.sex.value_counts()

sex
M      4357
F       615
lli       1
.         1
Name: count, dtype: int64

In [23]:
gsa.sex[gsa.sex.isin(["M ", "M x 2", "N"])] = "M"
gsa.sex.value_counts()

C:\Users\Gabriella Rivera\AppData\Local\Temp\ipykernel_16732\1597108552.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  gsa.sex[gsa.sex.isin(["M ", "M x 2", "N"])] = "M"
C:\Users\Gabriella Rivera\AppData\Local\Temp\ipykernel_16732\1597108552.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gsa.sex[gsa.sex.isin(["M ", "M x 2", "N"])] = "M"

sex
M      4357
F       615
lli       1
.         1
Name: count, dtype: int64

In [24]:
gsa.groupby("sex").Year.min()

sex
.      1908.0
F      1907.0
M      1900.0
lli    2004.0
Name: Year, dtype: float64

In [25]:
gsa[gsa.Year == gsa.Year.min()]

               Date    Year  sex fatal       Country
5942    27-Dec-1900  1900.0    M     Y     AUSTRALIA
5943    14-Nov-1900  1900.0    M     Y  SOUTH AFRICA
5945    15-Sep-1900  1900.0    M     N     AUSTRALIA
5947    05-Sep-1900  1900.0    M     N           USA
5948    21-Aug-1900  1900.0    M     N           USA
5949    31-Jul-1900  1900.0    M     Y       CROATIA
5951  Late Jul-1900  1900.0  NaN     N           USA
5952    28-Jan-1900  1900.0    M     N     AUSTRALIA
5953    Early 1900s  1900.0    M     N           USA
5954       Ca. 1900  1900.0    M     N  SOUTH AFRICA

In [26]:
gsa.sort_values("Year").head(5)

             Date    Year sex fatal       Country
5954     Ca. 1900  1900.0   M     N  SOUTH AFRICA
5942  27-Dec-1900  1900.0   M     Y     AUSTRALIA
5943  14-Nov-1900  1900.0   M     Y  SOUTH AFRICA
5945  15-Sep-1900  1900.0   M     N     AUSTRALIA
5947  05-Sep-1900  1900.0   M     N           USA

In [27]:
i = gsa.Year.idxmin()
i

5942

In [28]:
gsa.loc[i]

Date       27-Dec-1900
Year            1900.0
sex                  M
fatal                Y
Country      AUSTRALIA
Name: 5942, dtype: object

In [29]:
i = gsa.groupby("sex").Year.idxmin()
i

sex
.      5828
F      5840
M      5942
lli    2001
Name: Year, dtype: int64

In [30]:
gsa = gsa[gsa.fatal.isin(["Y", "N"])]
gsa.fatal.value_counts()

fatal
N    4332
Y    1056
Name: count, dtype: int64

In [31]:
gsa.fatal.value_counts()

fatal
N    4332
Y    1056
Name: count, dtype: int64

In [32]:
np.mean(gsa.fatal == "Y")

0.19599109131403117